VITE_SUPABASE_URL=https://ezttijzjknlshcqdiqyu.supabase.co
VITE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV6dHRpanpqa25sc2hjcWRpcXl1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI4MDA3MjMsImV4cCI6MjA4ODM3NjcyM30.JXUBns_xHZJR6_W34IqVI5_q89Shc-ulo2Zseo4ahvI
VITE_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV6dHRpanpqa25sc2hjcWRpcXl1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI4MDA3MjMsImV4cCI6MjA4ODM3NjcyM30.JXUBns_xHZJR6_W34IqVI5_q89Shc-ulo2Zseo4ahvI
VITE_ROLE_KEY=
VITE_ADMIN_USER=admin
VITE_ADMIN_PASS=D1455
